.Home {
	width: 90%;
	margin: 0 auto;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: hsl(57, 100%, 51%);
	background: url("../Home/upcoming-bg.png") no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 750px;
	height: 150vh;
	

}

